In [2]:
import datetime
import pandas as pd
import re

In [4]:
file = "../Data/Final_combined_data/data_merged_using_excel.csv"
df = pd.read_csv(file)
df

,state_sub,State,Suburb,Count_of_listings,Average_Price,Average_Vehicle_Age,Postcode,Latitude,Longitude,Taxable_income_no.,Taxable_income,Total_work_related_car_expenses_no.,Total_work_related_car_expenses,Avg_Income,Avg_WR_car_expense
0,actbarton,ACT,Barton,1,20000,11.00,221,-35.20,149.10,NaN,NaN,NaN,NaN,NaN,NaN
1,actbelconnen,ACT,Belconnen,137,32343,4.76,2616,-35.25,149.07,141.0,1.054074e+07,26.0,58218.0,74757.02837,2239.153846
2,actbonython,ACT,Bonython,1,36500,3.00,2905,-35.43,149.08,18849.0,1.260923e+09,4593.0,9229578.0,66896.02982,2009.487916
3,actbraddon,ACT,Braddon,2,11100,10.00,2612,-35.27,149.13,11381.0,9.484146e+08,1984.0,3446737.0,83333.15482,1737.266633
4,actbruce,ACT,Bruce,1,10000,17.00,2617,-35.24,149.07,23463.0,1.533512e+09,4837.0,8930210.0,65358.75510,1846.229068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,wawinthrop,WA,Winthrop,1,32000,10.00,6150,-32.06,115.84,8297.0,5.400916e+08,1454.0,2783345.0,65094.80041,1914.267538
2034,wawonthella,WA,Wonthella,3,33323,6.33,6530,-28.79,114.60,18848.0,1.172207e+09,4156.0,8016279.0,62192.65025,1928.844803
2035,wawoodvale,WA,Woodvale,3,19833,8.67,6026,-31.81,115.79,14147.0,9.162286e+08,3079.0,6522562.0,64764.86909,2118.402728
2036,wayangebup,WA,Yangebup,7,12491,11.43,6164,-32.13,115.86,38637.0,2.504483e+09,10878.0,21807602.0,64820.84220,2004.743703
2037,wayokine,WA,Yokine,2,24400,9.00,6060,-31.91,115.85,15785.0,9.752885e+08,4211.0,8809582.0,61785.77960,2092.040370

In [29]:

df.dropna(subset=['Avg_Income','Average_Price'], inplace=True)

df['Avg_Income'] = df['Avg_Income'].round()
df.sort_values('Average_Price', ascending=False)

,state_sub,State,Suburb,Count_of_listings,Average_Price,Average_Vehicle_Age,Postcode,Latitude,Longitude,Taxable_income_no.,Taxable_income,Total_work_related_car_expenses_no.,Total_work_related_car_expenses,Avg_Income,Avg_WR_car_expense
1386,sawillunga,SA,Willunga,1,11500000,11.0,5172,-35.27,138.63,2647.0,1.509078e+08,612.0,1209731.0,57011.0,1976.684641
1278,samclaren flat,SA,Mclaren Flat,1,3200000,11.0,5171,-35.16,138.59,3746.0,2.111741e+08,835.0,1902253.0,56373.0,2278.147305
623,nswvaucluse,NSW,Vaucluse,1,849990,61.0,2030,-33.87,151.28,9741.0,1.953135e+09,1345.0,4850946.0,200507.0,3606.651301
590,nswsurry hills,NSW,Surry Hills,20,417990,15.1,2010,-33.88,151.22,20404.0,1.961450e+09,2430.0,6611938.0,96131.0,2720.962140
363,nswkogarah bay,NSW,Kogarah Bay,1,238000,13.0,2217,-33.98,151.13,18147.0,1.099532e+09,3498.0,8997453.0,60590.0,2572.170669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,qldbundamba,QLD,Bundamba,1,1400,25.0,4304,-27.63,152.80,8763.0,4.356210e+08,2016.0,4350818.0,49711.0,2158.143849
301,nswgurrundah,NSW,Gurrundah,2,1200,18.0,2581,-34.92,149.24,1351.0,8.195788e+07,302.0,715650.0,60665.0,2369.701987
1847,waardross,WA,Ardross,1,990,20.0,6153,-32.02,115.83,13826.0,1.354439e+09,2594.0,6337951.0,97963.0,2443.311874
1562,vicdiggers rest,VIC,Diggers Rest,2,950,21.0,3427,-37.63,144.72,2693.0,1.942548e+08,921.0,2076738.0,72133.0,2254.872964
1244,sahewett,SA,Hewett,1,750,19.0,5118,-34.64,138.77,10899.0,6.033502e+08,2992.0,6071098.0,55358.0,2029.110294

In [32]:
# df.sort_values('Average_Price', ascending=False)
df = df[df['Average_Price'] < 500000]
df.sort_values('Average_Price', ascending=False)

,state_sub,State,Suburb,Count_of_listings,Average_Price,Average_Vehicle_Age,Postcode,Latitude,Longitude,Taxable_income_no.,Taxable_income,Total_work_related_car_expenses_no.,Total_work_related_car_expenses,Avg_Income,Avg_WR_car_expense
590,nswsurry hills,NSW,Surry Hills,20,417990,15.10,2010,-33.88,151.22,20404.0,1.961450e+09,2430.0,6611938.0,96131.0,2720.962140
363,nswkogarah bay,NSW,Kogarah Bay,1,238000,13.00,2217,-33.98,151.13,18147.0,1.099532e+09,3498.0,8997453.0,60590.0,2572.170669
1744,vicrichmond,VIC,Richmond,70,211534,6.33,3121,-37.83,145.01,22590.0,1.900994e+09,5442.0,14815503.0,84152.0,2722.437155
238,nswedmondson park,NSW,Edmondson Park,1,165000,4.00,2174,0.00,0.00,4777.0,3.016173e+08,1353.0,3501144.0,63139.0,2587.689579
1973,wanedlands,WA,Nedlands,9,145378,7.00,6009,-31.98,115.81,11106.0,1.598768e+09,1578.0,3851159.0,143955.0,2440.531686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,qldbundamba,QLD,Bundamba,1,1400,25.00,4304,-27.63,152.80,8763.0,4.356210e+08,2016.0,4350818.0,49711.0,2158.143849
301,nswgurrundah,NSW,Gurrundah,2,1200,18.00,2581,-34.92,149.24,1351.0,8.195788e+07,302.0,715650.0,60665.0,2369.701987
1847,waardross,WA,Ardross,1,990,20.00,6153,-32.02,115.83,13826.0,1.354439e+09,2594.0,6337951.0,97963.0,2443.311874
1562,vicdiggers rest,VIC,Diggers Rest,2,950,21.00,3427,-37.63,144.72,2693.0,1.942548e+08,921.0,2076738.0,72133.0,2254.872964
1244,sahewett,SA,Hewett,1,750,19.00,5118,-34.64,138.77,10899.0,6.033502e+08,2992.0,6071098.0,55358.0,2029.110294

In [33]:
# df.drop(columns='Unnamed: 15')
df.to_json('../Data/listing_vs_abs_data.json', orient='records')